@model BankingApplicationSystem.Models.ViewHomeLoan.ViewHomeLoan

@{
    ViewBag.Title = "View Home Loan";
}
<br /><br /><br /><br />
<h2>View Home Loan</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="HomeLoanDiv">
        <div class="form-horizontal">

            <hr />
           
            <div class="form-group">
                @Html.LabelFor(model => model.Loan_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Loan_ID, new { htmlAttributes = new { @class = "form-control" } })
                   <br />
                    <p style="color:red;">Loan ID is HL-XXX, where "XXX" are last 3 digits of your Account Number</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Loan_Account_Number, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Loan_Account_Number, new { htmlAttributes = new { @class = "form-control" } })
                   
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Get Loan Details" id="save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#save").click(function () {
            var id_num = $('#Loan_ID').val();
            var acc_num = $('#Loan_Account_Number').val();
            var success = 0;
            if (id_num == "")
                id_num = "0";
            if (acc_num == "")
                acc_num = 0;
            if (acc_num == 0 && id_num == "0")
                alert("Please enter id number or account number");
            else if (acc_num != 0 && id_num != "0")
                alert("Please enter id number or account number. You have entered both");
            else {
                if (id_num == "0") {
                    if (acc_num <= 999999999999999 || acc_num > 9999999999999999)
                        alert("Please enter a 16 digit account number.");
                    else
                        success = 1;
                }
                else
                    success = 1;
            }
            if (success == 1) {
                $.ajax({
                    type: "post",
                    url: "/ViewHomeLoan/searchHomeLoanDetails",
                    data: { AccountNumber: acc_num, LoanId: id_num },
                    success: function (response) {
                        $("#HomeLoanDiv").html(response);
                    }
                })
            }
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
